<%- include('shared/header.ejs') %>


<div class="container text-center my-5">

    <div class="user my-3">
        <i class="far fa-edit user-icon"></i>
        <h4 class="login">Register</h4>
        <% if (exist.length!=0) { %>
            <div class="alert alert-danger text-center my-3">
                this email is already exist
            </div>
        <% } %>
    </div>
    <div class="card p-5 w-50 m-auto">
        <form method="POST" action="/handleRegister">
            <input value="<%= oldInputs.length==0?'':oldInputs[0].name%>" class="form-control" placeholder="Enter your Name" type="text" name="name">
            <% if (validErrors.find(e=>e.param=='name')) { %>
                <div class="alert alert-danger">
                    invalid input
                </div>
            <% } %>
            <input value="<%= oldInputs.length==0?'':oldInputs[0].email%>" class="form-control my-2 " placeholder="Enter your email" type="email" name="email">
            <% if (validErrors.find(e=>e.param=='email')) { %>
                <div class="alert alert-danger">
                    invalid input
                </div>
            <% } %>
            <input value="<%= oldInputs.length==0?'':oldInputs[0].password%>" class="form-control  " placeholder="Enter your Password" type="password" name="password">
            <% if (validErrors.find(e=>e.param=='password')) { %>
                <div class="alert alert-danger">
                    password must contains numbers and characters
                </div>
            <% } %>
            <input class="form-control  my-2" placeholder="Password Confirmation" type="password" name="PasswordConfirmation">
            <% if (validErrors.find(e=>e.param=='PasswordConfirmation')) { %>
                <div class="alert alert-danger">
                    password doesn't match
                </div>
            <% } %>
            <button class="btn btn-default-outline my-4 w-100 rounded">Register</button>
            <a class="btn btn-default-outline" href="/login">Login</a>
        </form>
    </div>
</div>


<%- include('shared/footer.ejs') %>
